################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin/Debug/net8.0-windows/Personal budget management tool.runtimeconfig.json
/bin/Debug/net8.0-windows/Personal budget management tool.pdb
/bin/Debug/net8.0-windows/Personal budget management tool.exe
/bin/Debug/net8.0-windows/Personal budget management tool.dll
/bin/Debug/net8.0-windows/Personal budget management tool.deps.json
/bin/Debug/net8.0-windows
